<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Register" [style]="{ width: '400px' }">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <!-- Full Name (Firstname + Lastname) -->
      <div class="field">
        <label for="firstname">First Name</label>
        <input pInputText class="w-full" id="firstname" formControlName="firstname" />
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
          <small class="block p-error">First name is required</small>
        </div>
      </div>
      <div class="field">
        <label for="lastname">Last Name</label>
        <input pInputText class="w-full" id="lastname" formControlName="lastname" />
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          <small class="block p-error">Last name is required</small>
        </div>
      </div>

      <!-- Email -->
      <div class="field">
        <label for="email">Email</label>
        <input pInputText class="w-full" id="email" formControlName="email" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <small class="block p-error">
            <div *ngIf="email.hasError('required')">Email is required</div>
            <div *ngIf="email.hasError('pattern')">Email is invalid</div>
          </small>
        </div>
      </div>

      <!-- Password -->
      <div class="field">
        <label for="password">Password</label>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          inputId="password"
          inputStyleClass="w-full"
          styleClass="w-full"
        />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <small class="block p-error">Password is required</small>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <p-password
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          inputId="confirmPassword"
          inputStyleClass="w-full"
          styleClass="w-full"
        />
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <small class="block p-error">Confirm password is required</small>
        </div>
        <div *ngIf="registerForm.hasError('passwordMismatch') && password.valid && confirmPassword.valid">
          <small class="block p-error">Password mismatch</small>
        </div>
      </div>

      <p-button type="submit" label="Register" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>
      <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
    </form>
  </p-card>
</div>
