<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Login" [style]="{ width: '400px' }">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="authRequest.email"
          class="w-full"
          id="email"
          name="email"
          #email="ngModel"
          required
          pattern="[a-z0-9\._%\+\-]+@[a-z0-9\.\-]+\.[a-z]{2,}$"
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <small class="block p-error">
            <div *ngIf="email.errors?.['required']">
              <span>Email is required</span>
            </div>
            <div *ngIf="email.errors?.['pattern']">
              <span>Email is invalid</span>
            </div>
          </small>
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <p-password
          [(ngModel)]="authRequest.password"
          [feedback]="false"
          [toggleMask]="true"
          inputId="password"
          name="password"
          minlength="8"
          #password="ngModel"
          inputStyleClass="w-full"
          styleClass="w-full"
          required
        />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <small class="block p-error">
            Password is required
          </small>
        </div>
      </div>
      <p-button
        label="SIGN IN"
        styleClass="w-full"
        type="submit"
      ></p-button>
      <div class="mt-2">
        Don't have an account? <a routerLink="/register">Register</a>
      </div>
    </form>
  </p-card>
</div>
<p-toast></p-toast>