<div class="manufacturer">
  <p-button label="Add Manufacturer" />
    <p-table [value]="manufacturers" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="manufacturer">
            Manufacturer <p-sortIcon field="manufacturer"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-manufacturer>
        <tr class="parent-row">
          <td>{{ manufacturer }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  