<div class="manufacturer">
  <div class="card flex justify-content-right">
    <p-button (onClick)="showDialog('manufacturer')" label="Add Manufacturer" />
    <app-mini-dialog-add
    [displayAddModal]="visible"
    [triggeredBy]="triggeredBy"
    (clickClose)="closeDialog()"
    ></app-mini-dialog-add>
</div>
<p-table 
      #manufacturerTable
      [value]="manufacturers"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '30rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-gridlines p-datatable-striped" 
      (sortFunction)="customSort($event)" 
      [customSort]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="manufacturer">
            Manufacturer <p-sortIcon field="manufacturer"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-manufacturer>
        <tr class="parent-row">
          <td>{{ manufacturer }}</td>
          <td>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              style="font-size: 5rem"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger mr-2"
            ></button>
          </td>            
        </tr>
      </ng-template>
    </p-table>
  </div>
  