<div class="manufacturer">
  <div class="card flex justify-content-left">
    <p-button (onClick)="showDialog('manufacturer')" [outlined]="true" label="Add Manufacturer" />
    <app-mini-dialog-add
    [displayAddModal]="visible"
    [triggeredBy]="triggeredBy"
    (clickClose)="closeDialog()"
    (manufacturerName)="handleManufacturerName($event)"
    ></app-mini-dialog-add>
</div>
<p-table 
      #manufacturerTable
      [value]="manufacturers"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '30rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-gridlines p-datatable-striped" 
      (sortFunction)="customSort($event)" 
      [customSort]="true"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="manufacturer">
            Manufacturer <p-sortIcon field="manufacturer"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-manufacturer>
        <tr class="parent-row">
          <td>{{ manufacturer }}</td>
          <td class="button-container" style="display: flex; justify-content: flex-end; gap: 1rem;">
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-outlined custom-delete-button"
              style="font-size: 2rem;"
              (click)="deleteManufacturer(manufacturer)"
            ></button>
          </td>             
        </tr>
      </ng-template>
    </p-table>
  </div>
  