<p-dialog
  header="{{modalType}}"
  [(visible)]="displayAddEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeModal()"
>

<form [formGroup]="productForm" class="product-form">
  <div class="field">
    <label class="block" for="title">Title</label>
    <input type="text" pInputText id="title" formControlName="title" />
    <small
      class="p-error block"
      *ngIf="
        productForm.controls['title'].invalid &&
        productForm.controls['title'].dirty
      "
      >Field is required</small
    >
  </div>
  <div class="field">
    <label class="block" for="price">Price</label>
    <p-inputNumber
      id="price"
      formControlName="price"
      class="block"
    ></p-inputNumber>
    <small
      class="p-error block"
      *ngIf="
        productForm.controls['price'].invalid &&
        productForm.controls['price'].dirty
      "
      >Field is required</small
    >
  </div>
  <div class="field">
    <label class="block" for="category">Category</label>
    <p-dropdown
    [options]="categories"
    formControlName="category"
    placeholder="Select Category"
    [showClear]="true"
  ></p-dropdown>
  <small
    class="p-error block"
    *ngIf="
      productForm.controls['category'].invalid &&
      productForm.controls['category'].dirty
    "
    >Field is required</small
  >
  </div>
  <div class="field">
    <label class="block">Description</label>
    <textarea pInputTextarea formControlName="description"></textarea>
  </div>
  <div class="field">
    <label class="block" for="manufacturer">Manufacturer</label>
    <p-dropdown
    [options]="manufacturers"
    formControlName="manufacturer"
    placeholder="Select Manufacturer"
    [showClear]="true"
  ></p-dropdown>
  <small
    class="p-error block"
    *ngIf="
      productForm.controls['manufacturer'].invalid &&
      productForm.controls['manufacturer'].dirty
    "
    >Field is required</small
  >
  </div>
  <div class="field">
    <label class="block" for="supplier">Supplier</label>
    <p-dropdown
    [options]="suppliers"
    formControlName="supplier"
    placeholder="Select Supplier"
    [showClear]="true"
  ></p-dropdown>
  <small
    class="p-error block"
    *ngIf="
      productForm.controls['supplier'].invalid &&
      productForm.controls['supplier'].dirty
    "
    >Field is required</small
  >
  </div>
  <div class="field">
    <label class="block" for="weight">Weight</label>
    <input type="text" pInputText id="weight" formControlName="weight" />
    <small
      class="p-error block"
      *ngIf="
        productForm.controls['weight'].invalid &&
        productForm.controls['weight'].dirty
      "
      >Field is required</small
    >
  </div>
  <div class="field">
    <label class="block" for="image">Image</label>
      <p-toast />
      <p-fileUpload
        #fileUpload 
        mode="basic"
        name="file"
        accept="image/*"
        [maxFileSize]="1000000"
        (onSelect)="onImageUpload($event)"
        (onRemove)="onImageRemove()"
        chooseLabel="Upload Image"
      ></p-fileUpload>
  </div>
  
</form>

  <ng-template pTemplate="footer">
    <p-button
      (click)="addEditProduct()"
      label="{{modalType}}"
    ></p-button>
    <p-button (click)="closeModal()" label="Close" styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>