<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card header="Change Password" [style]="{ width: '400px' }">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

      <!-- Current Password -->
      <div class="field">
        <label for="currentPassword">Current Password</label>
        <p-password formControlName="currentPassword" [feedback]="false" [toggleMask]="true" inputId="currentPassword"
          inputStyleClass="w-full" styleClass="w-full" />
        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
          <small class="block p-error">
            <div *ngIf="currentPassword.hasError('required')">currentPassword is required</div>
          </small>
        </div>
      </div>

      <!-- New Password -->
      <div class="field">
        <label for="newPassword">New Password</label>
        <p-password formControlName="newPassword" [feedback]="false" [toggleMask]="true" inputId="newPassword"
          inputStyleClass="w-full" styleClass="w-full" />
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
          <small class="block p-error">New Password is required</small>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="field">
        <label for="confirmationPassword">Confirm Password</label>
        <p-password formControlName="confirmationPassword" [feedback]="false" [toggleMask]="true" inputId="confirmationPassword"
          inputStyleClass="w-full" styleClass="w-full" />
        <div *ngIf="confirmationPassword.invalid && (confirmationPassword.dirty || confirmationPassword.touched)">
          <small class="block p-error">Confirm password is required</small>
        </div>
        <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.valid && confirmationPassword.valid">
          <small class="block p-error">New password mismatch</small>
        </div>
      </div>

      <p-button type="submit" label="Change Password" styleClass="w-full" [disabled]="changePasswordForm.invalid"></p-button>
    </form>
  </p-card>
</div>
<p-toast></p-toast>