<div class="flex align-items-center gap-3">
  <p-dropdown
    [options]="categories"
    [(ngModel)]="selectedCategory"
    placeholder="Select Category"
    [showClear]="true"
    (onChange)="onCategoryChange($event)">
  </p-dropdown>

  <p-dropdown
    [options]="manufacturers"
    [(ngModel)]="selectedManufacturer"
    placeholder="Select Manufacturer"
    [showClear]="true"
    (onChange)="onManufacturerChange($event)">
  </p-dropdown>

  <p-dropdown
    [options]="suppliers"
    [(ngModel)]="selectedSupplier"
    placeholder="Select Supplier"
    [showClear]="true"
    (onChange)="onSupplierChange($event)">
  </p-dropdown>

  <div class="ml-auto">
    <input 
        pInputText
        type="text" 
        (ngModelChange)="searchProducts($event)" 
        placeholder="Search Product"
        [(ngModel)]="globalFilter" />
  </div>

  <div style="text-align: left">
    <p-button 
        label="Export Excel" 
        icon="pi pi-external-link" 
        iconPos="right" 
        (onClick)="generateExcel()"
       />
  </div>
</div>
