html, body {
    height: 100%; /* Ensure the body and html elements take full height */
    margin: 0;    /* Remove default margin */
}

.multi-axis {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
    width: 100%;
    height: 100%;             /* Full height of the viewport */
}

.vertical-bar-pic {
    display: flex;
    justify-content: center;
}

.download-chart {
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Aligns content to the right */
}

.download-chart p-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Reduced space between the chart and the caption */
.chart-caption {
    text-align: center;
    margin-top: 5px;   /* Reduced space between chart and caption */
    font-size: 1.2em;   /* Adjust the font size */
    font-weight: bold;  /* Make the caption bold */
}
