.suppliers {
  display: inline-block;  /* Ensures the supplier component is inline */
  width: 48%;             /* Set the width to 48% so that it fits alongside another component */
  margin: 0 1%;           /* Add some space between the tables */
  vertical-align: top;    /* Align to the top */
  margin-top: 5%;
}