<div class="suppliers">
  <p-button class="add-supplier" label="Add Supplier" />
  <p-table 
    #supplierTable
    [value]="suppliers"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '30rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="p-datatable-gridlines p-datatable-striped" 
    (sortFunction)="customSort($event)" 
    [customSort]="true"
  >      
<ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="supplier">
            Supplier <p-sortIcon field="supplier"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-supplier>
        <tr class="parent-row">
          <td>{{ supplier }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  