<div class="flex justify-content-between">
  <h2>Products</h2>
  <p-button label="Add Product" (onClick)="showAddModal()" />
</div>
<p-table 
#productTable 
[value]="products" 
[scrollable]="true" 
scrollHeight="70vh" 
[paginator]="true" 
[rows]="request.rows"
[first]="request.first"
[lazy]="true"
(onLazyLoad)="loadProducts($event)"
[totalRecords]="totalProducts"
(sortFunction)="loadProducts($event)"
>
  <ng-template pTemplate="caption">
    <app-filter-project
      (selectCategory)="onFilterChange('category', $event)"
      (selectSupplier)="onFilterChange('supplier', $event)"
      (selectManufacturer)="onFilterChange('manufacturer', $event)"
      (searchChanged)="onFilterChange('search', $event)"
      [table]="productTable">
    </app-filter-project>

  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
      <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
      <th>Image</th>
      <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon></th>
      <th>Description</th>
      <th pSortableColumn="manufacturer">Manufacturer<p-sortIcon field="manufacturer"></p-sortIcon></th>
      <th pSortableColumn="supplier">Supplier<p-sortIcon field="supplier"></p-sortIcon></th>
      <th pSortableColumn="weight">Weight<p-sortIcon field="weight"></p-sortIcon></th>
      <th>
        <p-button label="Reset Sorting" (onClick)="resetSorting()" class="p-button-secondary" [disabled]="!isSortingApplied"></p-button>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr class="parent-row">
      <td>{{ product.title }}</td>
      <td>{{ product.price }}  €</td>
      <td>{{ product.category }}</td>
      <td>
        <img [src]="'data:image/jpeg;base64,' + product.image" height="30px" />
      </td>
      <td>{{ product.rating }} ☆</td>
      <td>{{ product.description }}</td>
      <td>{{ product.manufacturer }}</td>
      <td>{{ product.supplier }}</td>
      <td>{{ product.weight}}</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="showEditModal(product)"
        ></button>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger mr-2"
          (click)="deleteProduct(product.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-add-edit-product 
  [displayAddEditModal]="displayAddEditModal"
  (clickClose)="hideAddModal($event)"
  (clickAddEdit)="saveEditProduct($event)"
  [selectedProduct]="selectedProduct"
  ></app-add-edit-product>

<p-confirmDialog 
  header="Delete"
></p-confirmDialog>
<p-toast position="bottom-left"/>

<div class="table-container">
  <app-manufacturer></app-manufacturer>
  <app-supplier></app-supplier>
</div>
