.custom-edit-button{
  height: 30px;  // Optionally set a fixed height
  width: 30px; // Optionally set a fixed width
}

.custom-delete-button{
  height: 30px;  // Optionally set a fixed height
  width: 30px;  // Optionally set a fixed width
}

