<div class="container">
  @if(secretImageUri){
    <h2>Set Up Two-Factor Authentication</h2>
    <div class="qr-code">
      <p-image [src]="secretImageUri" alt="QR Code" />
    </div>
  }
  <div>
    <h3 for="validationCode">Enter 6 digits Validation Code from 2FA app on your phone</h3>
    <div class="code-input">
      <code-input 
        [isCodeHidden]="false"
        [codeLength]="6"
        [code]="'number'"
        (codeCompleted)="onCodeCompleted($event)">
      </code-input>
    </div>
  </div>
</div>
